.authentification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 25vh;
}

.authentification form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.authentification .email-range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.authentification .password-range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input[value="Se connecter"] {
    margin: 0;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 60px;
    color: white;
    background-color: #1D6154;
    font-family: Syne;
    text-align: center;
    cursor: pointer;
}

.email-range label {
    font-size: 16px;
    font-weight: 500;
}

.password-range label {
    font-size: 16px;
    font-weight: 500;
}

.password a[title="Mot de passe oublié"] {
    text-align: center;
    color: black;
}

.footerLogin nav ul {
    position: relative;
    margin: 2em;
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
}
